{% extends "layout.html" %} {% block title %} Merge PDF - Combine PDF Online For
Free {% endblock %} {% block main %}
<section class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold">Merge PDF</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">
      Simple PDF merger to combine your PDF files into one
    </p>
  </div>
  <div id="upload-button">
    <i class="bi bi-cloud-arrow-up"></i>
    <span>Upload PDF's</span>
  </div>
</section>

<section class="px-4 py-5">
  <div class="row g-4 py-5 d-flex justify-content-evenly">
    <div class="d-flex flex-column align-items-center w-25 info">
      <i class="icons svg-promo-1"></i>
      <div>
        <h3>Best PDF merger</h3>
        <p class="text-white-50">
          Combine multiple PDF files online easily, quickly, with no watermarks,
          and free of charge. Intuitive GUI, merge PDF with images, rearrange
          files before joining. Everything you can think of in a single service!
        </p>
      </div>
    </div>

    <div class="d-flex flex-column align-items-center w-25 info">
      <i class="icons svg-promo-2"></i>
      <div>
        <h3>Keep your files safe</h3>
        <p class="text-white-50">
          We don't store any documents you upload to our PDF merger for longer
          than 2 hours. All your documents are never handed over to third
          parties.
        </p>
      </div>
    </div>

    <div class="d-flex flex-column align-items-center w-25 info">
      <i class="icons svg-promo-3"></i>
      <div>
        <h3>Merge PDF on any OS</h3>
        <p class="text-white-50">
          Our PDF merger is compatible with all operating systems. Combine PDF
          files on Windows, Android, macOS, iOS, or Linux. Open the website and
          start processing your files right away.
        </p>
      </div>
    </div>

    <div class="d-flex flex-column align-items-center w-25 info">
      <i class="icons svg-promo-4"></i>
      <div>
        <h3>Combine PDF files with ease</h3>
        <p class="text-white-50">
          There's no need to install any software to merge PDF files with our
          service. Add PDFs from any device, upload them from Google
          Drive/Dropbox, or do both to start combining PDFs.
        </p>
      </div>
    </div>

    <div class="d-flex flex-column align-items-center w-25 info">
      <i class="icons svg-promo-5"></i>
      <div>
        <h3>Increase your productivity</h3>
        <p class="text-white-50">
          All our online PDF editing tools are cloud-based which enables you to
          merge PDF files in a split second. Just add your files, tweak the
          settings if needed and get the result straight away. Create a
          shareable link for the output merged PDF or edit the file further.
        </p>
      </div>
    </div>

    <div class="d-flex flex-column align-items-center w-25 info">
      <i class="icons svg-promo-6"></i>
      <div>
        <h3>User-friendly PDF combiner</h3>
        <p class="text-white-50">
          You don't need even basic technical expertise for merging PDF with our
          website. Our tools are extremely intuitive and simple in use thanks to
          their minimalistic interface and support of a drag-and-drop mechanism.
        </p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
