{% extends "layout.html" %} {% block title %}PDF OCR - Free Online OCR
Converter{% endblock %} {% block main %}

<section class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold">PDF OCR</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">OCR a PDF to get text from scanned documents</p>
  </div>
  <div id="upload-button">
    <i class="bi bi-cloud-arrow-up"></i>
    <span>Upload PDF</span>
  </div>
</section>

<section class="px-4 py-5">
  <div class="row g-4 py-5 d-flex justify-content-evenly">
    <div class="d-flex flex-column align-items-center w-25 info">
      <i class="icons svg-promo-1"></i>
      <div>
        <h3>OCR a PDF online</h3>
        <p class="text-white-50">
          No need to install any software to recognize text in a PDF file. With
          PDF Tools Online, you can easily and hassle-free apply OCR online to
          your documents.
        </p>
      </div>
    </div>

    <div class="d-flex flex-column align-items-center w-25 info">
      <i class="icons svg-promo-2"></i>
      <div>
        <h3>19 languages supported</h3>
        <p class="text-white-50">
          Our advanced system allows us to OCR a PDF in 19 languages. Simply
          select the needed option after the file uploading. Please find the
          full list of OCR languages below in the FAQ section.
        </p>
      </div>
    </div>

    <div class="d-flex flex-column align-items-center w-25 info">
      <i class="icons svg-promo-3"></i>
      <div>
        <h3>Compatible with any device and OS</h3>
        <p class="text-white-50">
          Whichever OS you are using, we got you covered. As long as you are
          connected to the Internet, OCR PDF file online on any computer,
          laptop, phone, or tablet.
        </p>
      </div>
    </div>

    <div class="d-flex flex-column align-items-center w-25 info">
      <i class="icons svg-promo-4"></i>
      <div>
        <h3>Free PDF OCR service</h3>
        <p class="text-white-50">
          Enjoy an OCR tool absolutely free of charge with no necessary
          registration. No pop-ups or ads either.
        </p>
      </div>
    </div>

    <div class="d-flex flex-column align-items-center w-25 info">
      <i class="icons svg-promo-5"></i>
      <div>
        <h3>Accurate OCR</h3>
        <p class="text-white-50">
          Even if a PDF is a scanned document, this PDF OCR tool is safeguarding
          your content and aiming at providing the most error-free output file
          possible.
        </p>
      </div>
    </div>

    <div class="d-flex flex-column align-items-center w-25 info">
      <i class="icons svg-promo-6"></i>
      <div>
        <h3>Cloud-based solution</h3>
        <p class="text-white-50">
          The online OCR process might be time-consuming, given how complex the
          process is. We use cloud-based servers to provide you with the fastest
          solution on the market.
        </p>
      </div>
    </div>
  </div>
</section>

{% endblock %}
