{% extends "layout.html" %} {% block title %} PDF to TXT - Extract Text from PDF
for Free {% endblock %} {% block main %}
<section class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold">Extract Text from PDF</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Convert PDF to text in an easy and safe way</p>
  </div>
  <div id="upload-button">
    <i class="bi bi-cloud-arrow-up"></i>
    <span>Upload PDF</span>
  </div>
</section>

<section class="px-4 py-5">
  <div class="row g-4 py-5 d-flex justify-content-evenly">
    <div class="d-flex flex-column align-items-center w-25 info">
      <i class="icons svg-promo-1"></i>
      <div>
        <h3>Extract text from PDF at no cost</h3>
        <p class="text-white-50">
          You don’t have to pay to get an editable file to work with. Our PDF to
          TXT converter is free of charge. Just visit the website and start
          working with documents right away.
        </p>
      </div>
    </div>

    <div class="d-flex flex-column align-items-center w-25 info">
      <i class="icons svg-promo-2"></i>
      <div>
        <h3>Offline PDF extractor</h3>
        <p class="text-white-50">
          You can convert PDF to TXT without an Internet connection if you
          download PDF Tools Online Desktop. This Windows-based software also
          supports batch files processing.
        </p>
      </div>
    </div>

    <div class="d-flex flex-column align-items-center w-25 info">
      <i class="icons svg-promo-3"></i>
      <div>
        <h3>Safety first</h3>
        <p class="text-white-50">
          Worried about the security of your data? Your files get automatically
          deleted in 2 hours after the creation. You can manually remove them
          from our system once we have converted your PDF to TXT.
        </p>
      </div>
    </div>

    <div class="d-flex flex-column align-items-center w-25 info">
      <i class="icons svg-promo-4"></i>
      <div>
        <h3>Boost productivity with PDF Text Extractor</h3>
        <p class="text-white-50">
          Need to quickly polish an uneditable file for work or studies? We’ve
          got you covered. Extract text from PDF on the go: on the way to work,
          at the university, and anywhere. A stable Internet connection is all
          it takes.
        </p>
      </div>
    </div>

    <div class="d-flex flex-column align-items-center w-25 info">
      <i class="icons svg-promo-5"></i>
      <div>
        <h3>No lengthy installation</h3>
        <p class="text-white-50">
          With our service you don’t need to waste time downloading a program or
          an app and check the compatibility with your device. Upload your doc
          in the browser of your choice, then wait a few seconds for the PDF to
          text converter to process the file.
        </p>
      </div>
    </div>

    <div class="d-flex flex-column align-items-center w-25 info">
      <i class="icons svg-promo-6"></i>
      <div>
        <h3>Automatic OCR</h3>
        <p class="text-white-50">
          This is the perfect tool for scans when you need to extract data from
          PDF so as to be able to edit it. If no text objects are found, OCR
          feature is automatically applied.
        </p>
      </div>
    </div>
  </div>
</section>

{% endblock %}
